#calendar {
  display: inline-flex;
  overflow-x: auto;
  white-space: nowrap; }
  @media (max-width: 600px) {
    #calendar .calendar-column {
      min-width: 600px; } }
  #calendar .calendar-column {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey; }
    #calendar .calendar-column .column-header {
      /*flex: 0 1 0;*/
      text-align: center;
      font-weight: bold;
      padding: 5px;
      /*border-bottom: 1px solid grey;*/
      background-color: #8ca3d2;
      color: white;
      height: 2em; }
    #calendar .calendar-column .column-hours {
      /*flex: 0 1 0;*/
      text-align: center;
      padding: 5px;
      border-bottom: 1px solid grey;
      background-color: #8ca3d2;
      color: white;
      height: 2em; }
    #calendar .calendar-column .column-body {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      overflow-y: auto; }
      #calendar .calendar-column .column-body .timeslot {
        width: 100%;
        display: flex;
        flex: 1 0 2em;
        /*border-bottom:1px solid grey;*/ }
        #calendar .calendar-column .column-body .timeslot .time {
          padding: 5px;
          border-right: 1px solid grey;
          cursor: pointer;
          width: 65px;
          text-align: center;
          min-height: 2em;
          height: 100%; }
        #calendar .calendar-column .column-body .timeslot .time:hover {
          font-weight: bold; }
        #calendar .calendar-column .column-body .timeslot .appts {
          flex: 1 1 0;
          display: flex;
          min-height: 2em;
          height: 100%; }
          #calendar .calendar-column .column-body .timeslot .appts .appointment-hover {
            cursor: pointer;
            font-weight: bold; }
          #calendar .calendar-column .column-body .timeslot .appts .appt {
            flex: 1 0 0;
            background-color: white;
            padding: 5px;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            height: 100%;
            min-height: 2em; }
            #calendar .calendar-column .column-body .timeslot .appts .appt a {
              text-decoration: none;
              color: black; }
          #calendar .calendar-column .column-body .timeslot .appts .appt-firstSlot {
            border-top: 1px solid grey; }
          #calendar .calendar-column .column-body .timeslot .appts .appt-lastSlot {
            border-bottom: 1px solid grey; }
        #calendar .calendar-column .column-body .timeslot .hasAppointments {
          border-bottom: none; }
      #calendar .calendar-column .column-body .timeslot.read-only .time {
        cursor: default;
        background-color: lightgrey; }
      #calendar .calendar-column .column-body .timeslot.read-only .time:hover {
        font-weight: normal; }
      #calendar .calendar-column .column-body .timeslot.read-only .appts {
        background-color: grey; }
      #calendar .calendar-column .column-body .timeslot.lunch .appts {
        background-color: grey; }
  #calendar .calendar-column:last-of-type {
    border-right: none; }

#appointment-dialog .appt_form textarea, #appointment-dialog .appt_form input, #appointment-dialog .appt_form select {
  width: 100%; }
#appointment-dialog .appt_form a, #appointment-dialog .appt_form button {
  font-size: .75em; }
#appointment-dialog .appt_form .buttons {
  margin-top: 7px;
  text-align: center; }

.apptInfo tr td:first-of-type {
  font-weight: bold;
  padding: 2px; }

/*# sourceMappingURL=calendar.css.map */
