{% extends "MillerVeinCalendarBundle::base.html.twig" %}
{#Title#}
{% block title %}Calendar{% endblock %}

{#Stylesheets#}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/millerveincalendar/css/calendar/*'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{#Javascripts#}
{% block javascripts %}
    {{ parent()}}
    {% javascripts '@MillerVeinCalendarBundle/Resources/public/js/calendar/*' output='js/compiled/calendarV2.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{#Body#}
{% block body %}
    <div id="topLevelFlex">
        {% block controls %}
            {% include 'MillerVeinCalendarBundle:Calendar:controls.html.twig' %}
        {% endblock %}
        {% block calendar %}
            {% include 'MillerVeinCalendarBundle:Calendar:calendar.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}