{% extends 'MillerVeinCalendarBundle::base.html.twig' %}
{% block title %}{{classname}}{% endblock%}
{% block body %}
<h2>{{classname}}</h2>
<div>
    <a href='{{indexPath}}'>Index</a>
</div>
<div>
    {{form(form)}}
</div>
{% endblock %}