{% extends "EMRCalendarBundle::base.html.twig" %}
{% block body %}
    {% for column in columns %}
        {% include 'EMRCalendarBundle:Calendar:column.html.twig' %}
    {% endfor %}
    <hr>
    <h3>Unused</h3>
    {% for fragment in unusedFragments %}
        {% include 'EMRCalendarBundle:Calendar:AppointmentFragment.html.twig' %}
    {% endfor %}
{% endblock %}