<h3>Results</h3>
<ul>
{% for appt in appts %}
    <li>
        <span
            class="result"
            data-datetime="{{appt.start | date("m/d/Y H:i:s")}}"
            data-column="{{appt.column.id}}"
            data-category="{{appt.category.id}}"
            >
            {{appt.start | date("l F jS \\a\\t g:i a")}}
        </span>
    </li>
{% endfor %}
</ul>