<div class="calendar-column">
    <div class="column-header">{{column.label}}</div>
    <div class="column-hours" style="display:none">
        {% if column.hours.name is defined %}
        {{ column.hours.name }}
        {% endif %}
    </div>
    <div class="column-body">
        {% for timeslot in column.timeslots %}
            {% include 'EMRCalendarBundle:Calendar:timeslot.html.twig' %}
        {% endfor %}
    </div>
</div>