#controls{
    form{
        /*display: flex;*/
        .primary, .secondary{
            display: flex;
            div{
                text-align: center;
                flex: 1 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .secondary{
            margin-top: 10px;
            display: none;
            .options{
                display: flex;
                margin: 5px;
            }
            .buttons{
                display: flex;
                margin: 5px;
            }
            /*height:500px;*/
        }
    }
    button,a{
        font-size: .75em;
    }
}