html, body{
    margin: 0;
    padding:0;
    height:100%;
    width:100%;
    /*overflow: hidden;*/
}

.width-25{width: 100 / 4 * 1%}
.width-33{width: 100 / 3 * 1%}
.width-50{width: 100 / 2 * 1%}
.width-100{width: 100 / 1 * 1%}

#topLevelFlex{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    overflow: hidden;
}
#controls{
    width:100%;
    padding: 5px;
    background-color: #565656;
    color: white;
    /*box-shadow: 0px 1px 3px grey;*/
}
#calendar{
    flex: 1 0 0;
}