{% extends "MillerVeinCalendarBundle:Calendar:Appointment/form.html.twig" %}
{% block appointment_type_select %}{% endblock %}
{% block appointment_buttons %} 
<button onclick='window.location.assign("{{path('appointment_delete',{'id':id})}}");'>Delete</button>
{{parent()}}
{% endblock %}