<table class="apptInfo">
    <tr>
        <td>
            Category
        </td>
        <td>
            {{appt.category.name}}
        </td>
    </tr>
    <tr>
        <td>
            Notes
        </td>
        <td>
            {{appt.notes}}
        </td>
    </tr>
</table>