{% extends "MillerVeinCalendarBundle:Calendar:base.html.twig" %}

{#calendar#}
{% block calendar %}
    {{ calendar.date | date('m/d/Y') }}
    {% for calendarColumn in calendar.columns %}
    <ul>
        <li>
            {{calendarColumn.column.name}}
            <ul>

                {% for timeSlot in calendarColumn.timeSlots %}
                <li>
                    {{timeSlot.time | date('H:i')}}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
{% endblock %}