<div id="calendar">
    {% for calendarColumn in calendar.columns %}
        {% if calendarColumn.timeslots %}
    {% include 'MillerVeinCalendarBundle:Calendar:column.html.twig' %}
    {% endif %}
    {% endfor %}
    <div id="appointment-dialog">
    </div>
</div>