<div id="calendar">
    {% for column in calendar.columns %}
        {% include 'MillerVeinCalendarBundle:Calendar:column.html.twig' %}
    {% endfor %}
    <div id="appointment-dialog">
    </div>
</div>