<div class="timeslot
    {% if timeslot.readOnly %}
        read-only
    {% endif %}
     ">
    <div class="time" 
         data-column="{{timeslot.column.id}}"
         data-datetime="{{timeslot.datetime | date('Y-m-d H:i')}}"
         >
        {{timeslot.label}}
    </div>
    
    <div class="appts">
    {% for fragment in timeslot.appointmentFragments %}
        {% include 'MillerVeinCalendarBundle:Calendar:AppointmentFragment.html.twig' %}
    {% endfor %}
    </div>
</div>