{% for room in rooms %}
    <div class="room" id="{{room.id}}">
        <div class="room-header">{{room.name}}</div>
        <ul>

        </ul>
    </div>
{% endfor %}
<div class="room">
    <div class="room-header">Checked Out</div>
    <ul>

    </ul>
</div>