{% extends "MillerVeinPatientTrackerBundle::base.html.twig" %}
{% import _self as tracker %}
{% block title %}Patient Tracker{% endblock %}
{% block body %}
    <div id="siteDiv">
        {% include 'MillerVeinPatientTrackerBundle:Tracker:sites.html.twig' %}
    </div>
    <div id='roomsDiv'>
    </div>
</body>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts 
    '@MillerVeinPatientTrackerBundle/Resources/public/js/patient_tracker.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
