{% extends "EMRCalendarBundle::base.html.twig" %}
{% block title %}Admin Menu{% endblock %}
{% block body %}
<h2>Admin Menu</h2>
<ul>
    <li><a href='appointment_status'>Appointment Status</a></li>
    <li>
        Category
        <ul>
            <li><a href='category/patient'>Patient</a></li>
            <li><a href='category/provider'>Provider</a></li>
        </ul>
    </li>
    <li><a href='column'>Columns</a></li>
    <li><a href='column_tag'>Column Tags</a></li>
    <li><a href='hours'>Hours</a></li>
    <li><a href='recurrence_rule'>Recurrence Rules</a></li>
</ul>
{% endblock %}